<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>{{ title }}</title>
</head>
<body class="d-flex flex-column gap-5 m-3">
    <h1>{{ title }}</h1>

    <p>{{ description }}</p>
    
    <a class="main-btn" href="/"><button class="btn btn-warning">Главная страница</button></a>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>