<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body class="d-flex flex-column gap-3 m-3">
    <h1>{{ title }}</h1>
    
    <a href="/about"><button class="btn btn-outline-secondary">Кто мы?</button></a>
    <a href="/form"><button class="btn btn-outline-secondary">Оставить отзыв</button></a>
    <a href="/addresses"><button class="btn btn-outline-secondary">Наши адреса</button></a>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>